{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ChatGPT Jr</title>

    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
</head>

<body>
    <div class="bg-grid"></div>

<button id="toggleSidebar" class="menu-btn">
    ☰
</button>

<button id="closeSidebar" class="close-btn">
    ✕
</button>

<div class="app-container">

    <!-- Sidebar -->
    <div class="sidebar">

        <h2>⚡ ChatGPT Jr</h2>

        <a href="{% url 'new_chat' %}" class="new-chat-btn">
            + New Chat
        </a>

        <div class="chat-list">

            {% for c in chats %}

            <div class="chat-row">

                <a href="{% url 'chat' c.id %}"
                   class="chat-item {% if c.id == chat.id %}active-chat{% endif %}">

                    {{ c.title|default:"New Chat"|truncatechars:20 }}

                </a>

                <a href="{% url 'delete_chat' c.id %}"
                   class="delete-btn"
                   onclick="return confirm('Delete this chat?')">

                    ❌

                </a>

            </div>

            {% endfor %}

        </div>

    </div>

    <!-- Main Chat Area -->
    <div class="main-chat">

        <h1>
    <span class="logo">⚡</span>
    ChatGPT Jr
</h1>

        <div class="messages" id="messages">

            {% for msg in messages %}

            <!-- User Message -->
            <div class="user-container">

                <div class="user-message">
                    {{ msg.user_message }}
                </div>

            </div>

            <!-- AI Message -->
            <div class="ai-container">

                <div class="avatar">
                    ⚡
                </div>

                <div class="ai-message">
                    {{ msg.bot_response|safe }}
                </div>

            </div>

            {% endfor %}

        </div>

        <form id="chat-form">

            {% csrf_token %}

            <div class="input-area">

               <textarea
    id="message-input"
    name="message"
    placeholder="Message ChatGPT Jr..."
    required
></textarea>

                <button type="submit">
                    Send
                </button>

            </div>

        </form>

    </div>

</div>
<script>
const CHAT_ID = "{{ chat.id }}";
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script src="{% static 'chat/js/script.js' %}"></script>

</body>
</html>